/*
  This file is part of Brazil Data Cube Documentation.
  Copyright 2020-2021 INPE.

  Brazil Data Cube Documentation is free software; you can redistribute it and/or modify it
  under the terms of the MIT License; see LICENSE file for more details.
*/


/* Tables with "automatic wrap" text. */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

/* More space between list items. */
ul.open > li {
   margin: 0 0 15px 0;
}

/* Justify every text. */
p {
     text-align:justify;
}

/* Centered image captions. */
div.figure > p.caption {
    text-align: center;
}

/* Left aligned items with 10px space. */
div.li-left-align > ul > li p {
    text-align: left;
}

div.li-left-align > ul > li {
    margin: 10px 0 0 0;
}

/* Fix sphinx_rtd_theme setting equation to the right. */
span.eqno {
    float: right;
}

.rotate270deg img {
  transform: rotate(270deg);
}
